body{
  background-color: #1C1C1C;
}


.intro{
  background-color: #F5F7FB;
  width: 550px;
  height: 550px;

  position: relative;
  margin: auto;
  top: 112px;
}

.main-page{
  background-color: #F5F7FB;
  position: relative;
  width: 550px;
  min-height: 550px;
  overflow: hidden;
  margin: auto;
  top: 112px;
  padding-bottom: 25px;
}

.text-section{
  position: relative;
  text-align: center;
}
.title{
  color: #293264;
  font-family: 'Karla';
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 31.25px;

}

h3{
  color: #293264;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 0px;
}

.intro-button{
  position: relative;
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: "normal";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-top: 29px;
}

.yellow-blob{
  position: relative;
  left: 356px;
}

.blue-blob{
  position: relative;
  left: 0px;
  top: 65px;
}

.blobs-yellow-small{
  position: absolute;
  right: 0px;
}

.blobs-blue-small{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.main-button{
  position: absolute;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-size: 10.24px;
  width: 120px;
  height: 35px;
  bottom: 25px;
  cursor: pointer;
  right: 215px;
}

.test{
  position: relative;
  top: 30px;
  left: 75px;
  right: 100px;
  margin-bottom: 82px;
}

.test-section{
  width: 399px;
  border-bottom: 0.794239px solid #DBDEF0;
}

.question{
  color: #293264;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 16px;
}

.answers{
  display: flex;
  gap: 12.5px;
  margin-bottom: 15PX;
}

.answer-button{
  border-radius: 7.94239px;
  color: #293264;
  background: none;
  border: 0.794239px solid #4D5B9E;
  font-size: 10.24px;
  min-height: 20px;
  max-width: 150px;
}

.results{
  position: absolute;
  display: flex;
  bottom: 32px;
  left: 98px;
  align-items: center;
}

.playagain-button{
  width: 104px;
  height: 30px;
  left: 348px;
  background: #4D5B9E;
  border-radius: 10px;
  color: #F5F7FB;
  font-family: 'Inter';
  font-size: 10.24px;
  border: none;
  cursor: pointer;
}

.score{
  width: 262px;
  font-family: 'Inter';
  font-size: 12.8px;
  text-align: center;

  color: #293264;
}